.intro-container{
  border: 1px solid purple;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 750px;
}
.intro-container img{
  width: 100%;
  border-radius: 25px;
}
.intro-container p{
  text-align: justify;
}
.intro-container iframe{
  width: 100%;
  height: 535px;
  border-radius: 25px;
}