body{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  background-image: url(gradient-abstract-wireframe-background_23-2149009903.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-img{
  width: 60px;
  margin-right: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #222222;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  border-bottom: 1px solid white;
}

ul li a{
  display: flex;
  align-items: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

ul li{
  border-right: 1px solid white;
}

ul li:last-child{
  border-right: none;
}

.parent-container{
  margin-top: 125px;
  display: grid;
  place-items: center;
}
.container{
  border: 1px solid purple;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  word-wrap: break-word;
  width: 500px;
}

.deco-container{
  border: 1px solid rgb(252, 18, 85);
  border-radius: 50px;
  padding: 6px;
  margin-bottom: 10px;
}

.logo{
  height: 200px;
  margin-bottom: 10px;
}

h1{
  font-size: 35px;
  text-align: center;
}
p{
  font-size: 19px;
  text-align: justify;
}